USE [dbPMR]
GO
ALTER TABLE [dbo].[tblTests] DROP CONSTRAINT [FK_tblTests_tblUsers]
GO
ALTER TABLE [dbo].[tblTests] DROP CONSTRAINT [FK_tblTests_tblSelectTestTypes]
GO
ALTER TABLE [dbo].[tblTests] DROP CONSTRAINT [FK_tblTests_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblTests] DROP CONSTRAINT [FK_tblTests_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblTests] DROP CONSTRAINT [FK_tblTests_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblSurgeries] DROP CONSTRAINT [FK_tblSurgeries_tblUsers]
GO
ALTER TABLE [dbo].[tblSurgeries] DROP CONSTRAINT [FK_tblSurgeries_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblSurgeries] DROP CONSTRAINT [FK_tblSurgeries_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblSurgeries] DROP CONSTRAINT [FK_tblSurgeries_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblSelectVaccineNames] DROP CONSTRAINT [FK_tblSelectVaccineNames_tblSelectVaccineGroupNames]
GO
ALTER TABLE [dbo].[tblSelectMedications] DROP CONSTRAINT [FK_tblSelectMedications_tblSelectManufacturers]
GO
ALTER TABLE [dbo].[tblSelectBloodworkIndiNames] DROP CONSTRAINT [FK_tblSelectBloodworkIndiNames_tblSelectBloodworkGroupNames]
GO
ALTER TABLE [dbo].[tblMedicationLists] DROP CONSTRAINT [FK_tblMedicationLists_tblUsers]
GO
ALTER TABLE [dbo].[tblMedicationLists] DROP CONSTRAINT [FK_tblMedicationLists_tblSelectMedications]
GO
ALTER TABLE [dbo].[tblMedicationLists] DROP CONSTRAINT [FK_tblMedicationLists_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblMedicationLists] DROP CONSTRAINT [FK_tblMedicationLists_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblMedicationLists] DROP CONSTRAINT [FK_tblMedicationLists_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblImmunizationDetails] DROP CONSTRAINT [FK_tblImmunizationDetails_tblUsers]
GO
ALTER TABLE [dbo].[tblImmunizationDetails] DROP CONSTRAINT [FK_tblImmunizationDetails_tblSelectVaccineNames]
GO
ALTER TABLE [dbo].[tblImmunizationDetails] DROP CONSTRAINT [FK_tblImmunizationDetails_tblSelectManufacturers]
GO
ALTER TABLE [dbo].[tblImmunizationDetails] DROP CONSTRAINT [FK_tblImmunizationDetails_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblHospitalizations] DROP CONSTRAINT [FK_tblHospitalizations_tblUsers]
GO
ALTER TABLE [dbo].[tblHospitalizations] DROP CONSTRAINT [FK_tblHospitalizations_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblHospitalizations] DROP CONSTRAINT [FK_tblHospitalizations_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblHospitalizations] DROP CONSTRAINT [FK_tblHospitalizations_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblFamilyMemberMedicalConditions] DROP CONSTRAINT [FK_tblFamilyMemberMedicalConditions_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblFamilyMemberMedicalConditions] DROP CONSTRAINT [FK_tblFamilyMemberMedicalConditions_tblFamilyMembers]
GO
ALTER TABLE [dbo].[tblFamilyHistories] DROP CONSTRAINT [FK_tblFamilyHistories_tblUsers]
GO
ALTER TABLE [dbo].[tblFamilyHistories] DROP CONSTRAINT [FK_tblFamilyHistories_tblFamilyMembers]
GO
ALTER TABLE [dbo].[tblDoctorVisits] DROP CONSTRAINT [FK_tblDoctorVisits_tblUsers]
GO
ALTER TABLE [dbo].[tblDoctorVisits] DROP CONSTRAINT [FK_tblDoctorVisits_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblDoctorVisits] DROP CONSTRAINT [FK_tblDoctorVisits_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblBloodwork] DROP CONSTRAINT [FK_tblBloodwork_tblUsers]
GO
ALTER TABLE [dbo].[tblBloodwork] DROP CONSTRAINT [FK_tblBloodwork_tblSelectFacilities1]
GO
ALTER TABLE [dbo].[tblBloodwork] DROP CONSTRAINT [FK_tblBloodwork_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblBloodwork] DROP CONSTRAINT [FK_tblBloodwork_tblSelectBloodworkIndiNames]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblUsers]') AND type in (N'U'))
DROP TABLE [dbo].[tblUsers]
GO
/****** Object:  Table [dbo].[tblTests]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblTests]') AND type in (N'U'))
DROP TABLE [dbo].[tblTests]
GO
/****** Object:  Table [dbo].[tblSurgeries]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSurgeries]') AND type in (N'U'))
DROP TABLE [dbo].[tblSurgeries]
GO
/****** Object:  Table [dbo].[tblSelectVaccineNames]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectVaccineNames]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectVaccineNames]
GO
/****** Object:  Table [dbo].[tblSelectVaccineGroupNames]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectVaccineGroupNames]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectVaccineGroupNames]
GO
/****** Object:  Table [dbo].[tblSelectTestTypes]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectTestTypes]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectTestTypes]
GO
/****** Object:  Table [dbo].[tblSelectMedications]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectMedications]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectMedications]
GO
/****** Object:  Table [dbo].[tblSelectMedicalConditions]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectMedicalConditions]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectMedicalConditions]
GO
/****** Object:  Table [dbo].[tblSelectManufacturers]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectManufacturers]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectManufacturers]
GO
/****** Object:  Table [dbo].[tblSelectFamilyMembers]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectFamilyMembers]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectFamilyMembers]
GO
/****** Object:  Table [dbo].[tblSelectFacilities]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectFacilities]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectFacilities]
GO
/****** Object:  Table [dbo].[tblSelectDoctors]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectDoctors]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectDoctors]
GO
/****** Object:  Table [dbo].[tblSelectBloodworkIndiNames]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectBloodworkIndiNames]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectBloodworkIndiNames]
GO
/****** Object:  Table [dbo].[tblSelectBloodworkGroupNames]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSelectBloodworkGroupNames]') AND type in (N'U'))
DROP TABLE [dbo].[tblSelectBloodworkGroupNames]
GO
/****** Object:  Table [dbo].[tblMedicationLists]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblMedicationLists]') AND type in (N'U'))
DROP TABLE [dbo].[tblMedicationLists]
GO
/****** Object:  Table [dbo].[tblImmunizationDetails]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblImmunizationDetails]') AND type in (N'U'))
DROP TABLE [dbo].[tblImmunizationDetails]
GO
/****** Object:  Table [dbo].[tblHospitalizations]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblHospitalizations]') AND type in (N'U'))
DROP TABLE [dbo].[tblHospitalizations]
GO
/****** Object:  Table [dbo].[tblFamilyMemberMedicalConditions]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblFamilyMemberMedicalConditions]') AND type in (N'U'))
DROP TABLE [dbo].[tblFamilyMemberMedicalConditions]
GO
/****** Object:  Table [dbo].[tblFamilyHistories]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblFamilyHistories]') AND type in (N'U'))
DROP TABLE [dbo].[tblFamilyHistories]
GO
/****** Object:  Table [dbo].[tblDoctorVisits]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblDoctorVisits]') AND type in (N'U'))
DROP TABLE [dbo].[tblDoctorVisits]
GO
/****** Object:  Table [dbo].[tblBloodwork]    Script Date: 4/3/2025 2:19:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblBloodwork]') AND type in (N'U'))
DROP TABLE [dbo].[tblBloodwork]
GO
USE [master]
GO
/****** Object:  Database [dbPMR]    Script Date: 4/3/2025 2:19:31 PM ******/
DROP DATABASE [dbPMR]
GO
/****** Object:  Database [dbPMR]    Script Date: 4/3/2025 2:19:31 PM ******/
CREATE DATABASE [dbPMR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbPMR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbPMR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbPMR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbPMR.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbPMR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbPMR]
GO
/****** Object:  Table [dbo].[tblBloodwork]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBloodwork](
	[BloodworkId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectBloodworkIndiNameID] [int] NOT NULL,
	[Result] [varchar](10) NOT NULL,
	[SelectDoctorID] [int] NULL,
	[Date] [date] NULL,
	[SelectFacilityID] [int] NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodworkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDoctorVisits]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoctorVisits](
	[DoctorVisitId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectDoctorID] [int] NOT NULL,
	[SelectMedicalConditionID] [int] NOT NULL,
	[Date] [date] NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorVisitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFamilyHistories]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFamilyHistories](
	[FamilyHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectFamilyMemberID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FamilyHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFamilyMemberMedicalConditions]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFamilyMemberMedicalConditions](
	[FamilyMemberMedicalConditionId] [int] IDENTITY(1,1) NOT NULL,
	[SelectFamilyMemberID] [int] NOT NULL,
	[SelectMedicalConditionID] [int] NOT NULL,
	[AgeOnsetCondition] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FamilyMemberMedicalConditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHospitalizations]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHospitalizations](
	[HospitalizationId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectMedicalConditionID] [int] NOT NULL,
	[SelectDoctorID] [int] NULL,
	[SelectFacilityID] [int] NULL,
	[AdmissionDate] [date] NULL,
	[DischargeDate] [date] NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[HospitalizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblImmunizationDetails]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblImmunizationDetails](
	[ImmunizationDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[SelectVaccineNameID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DetailName] [varchar](50) NULL,
	[DateGiven] [date] NOT NULL,
	[SelectFacilityID] [int] NULL,
	[SelectManufacturerID] [int] NULL,
	[RXNum] [varchar](20) NULL,
	[NDCNum] [varchar](20) NULL,
	[LotNum] [varchar](20) NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImmunizationDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMedicationLists]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMedicationLists](
	[MedicationListId] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectMedicationID] [int] NOT NULL,
	[SelectionDoctorID] [int] NULL,
	[SelectMedicalConditionID] [int] NULL,
	[SelectFacilityID] [int] NULL,
	[Date] [date] NULL,
	[RXNumber] [varchar](30) NULL,
	[Qty] [int] NULL,
	[Dosing] [varchar](30) NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectBloodworkGroupNames]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectBloodworkGroupNames](
	[SelectBloodworkGroupNameId] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectBloodworkGroupNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectBloodworkIndiNames]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectBloodworkIndiNames](
	[SelectBloodworkIndiNameId] [int] IDENTITY(1,1) NOT NULL,
	[SelectBloodworkGroupNameID] [int] NOT NULL,
	[DetailedName] [varchar](50) NOT NULL,
	[RangeLower] [int] NULL,
	[RangeUpper] [int] NULL,
	[UnitMeasure] [nchar](10) NULL,
	[Notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectBloodworkIndiNameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectDoctors]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectDoctors](
	[SelectDoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Specialty] [varchar](30) NOT NULL,
	[Location] [varchar](100) NULL,
	[Phone] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectDoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectFacilities]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectFacilities](
	[SelectFacilityId] [int] IDENTITY(1,1) NOT NULL,
	[SelectFacilityName] [varchar](50) NOT NULL,
	[Location] [varchar](100) NULL,
	[Phone] [int] NULL,
	[isHospital] [bit] NULL,
	[isPharmacy] [bit] NULL,
	[isSurgery] [bit] NULL,
	[isTestCenter] [bit] NULL,
	[isDoctorOffice] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectFacilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectFamilyMembers]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectFamilyMembers](
	[SelectFamilyMemberId] [int] IDENTITY(1,1) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[Alive] [bit] NULL,
	[DOB] [date] NULL,
	[DOD] [date] NULL,
	[ApproxYear_Birth] [varchar](10) NULL,
	[ApproxYear_Death] [varchar](10) NULL,
	[Notes] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectFamilyMemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectManufacturers]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectManufacturers](
	[SelectManufacturerId] [int] NOT NULL,
	[ManufacturerName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectMedicalConditions]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectMedicalConditions](
	[SelectMedicalConditionId] [int] IDENTITY(1,1) NOT NULL,
	[MedicalConditionName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectMedicalConditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectMedications]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectMedications](
	[SelectMedicationID] [int] IDENTITY(1,1) NOT NULL,
	[MedicationName] [varchar](50) NOT NULL,
	[SelectManufacturerID] [int] NULL,
	[Strength] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectMedicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectTestTypes]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectTestTypes](
	[SelectTestTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectTestTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectVaccineGroupNames]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectVaccineGroupNames](
	[SelectVaccineGroupId] [int] IDENTITY(1,1) NOT NULL,
	[VaccineAbbreviation] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectVaccineGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSelectVaccineNames]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSelectVaccineNames](
	[SelectVaccineNameID] [int] NOT NULL,
	[VaccineName] [varchar](50) NOT NULL,
	[SelectVaccineGroupID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectVaccineNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSurgeries]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSurgeries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectFacilityID] [int] NULL,
	[SelectDoctorID] [int] NULL,
	[Date] [date] NULL,
	[SelectMedicalConditionID] [int] NOT NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTests]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTests](
	[TestsID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SelectTestTypeID] [int] NOT NULL,
	[BodyPart] [varchar](30) NULL,
	[SelectDoctorID] [int] NULL,
	[SelectFacilityID] [int] NULL,
	[SelectMedicalConditionID] [int] NULL,
	[Results] [varchar](50) NULL,
	[Date] [date] NULL,
	[Notes] [varchar](max) NULL,
	[PDFFile] [varbinary](max) NULL,
	[ImgFile] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 4/3/2025 2:19:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](30) NOT NULL,
	[Lastname] [varchar](50) NOT NULL,
	[Firstname] [varchar](50) NOT NULL,
	[DOB] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBloodwork]  WITH CHECK ADD  CONSTRAINT [FK_tblBloodwork_tblSelectBloodworkIndiNames] FOREIGN KEY([SelectBloodworkIndiNameID])
REFERENCES [dbo].[tblSelectBloodworkIndiNames] ([SelectBloodworkIndiNameId])
GO
ALTER TABLE [dbo].[tblBloodwork] CHECK CONSTRAINT [FK_tblBloodwork_tblSelectBloodworkIndiNames]
GO
ALTER TABLE [dbo].[tblBloodwork]  WITH CHECK ADD  CONSTRAINT [FK_tblBloodwork_tblSelectDoctors] FOREIGN KEY([SelectDoctorID])
REFERENCES [dbo].[tblSelectDoctors] ([SelectDoctorId])
GO
ALTER TABLE [dbo].[tblBloodwork] CHECK CONSTRAINT [FK_tblBloodwork_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblBloodwork]  WITH CHECK ADD  CONSTRAINT [FK_tblBloodwork_tblSelectFacilities1] FOREIGN KEY([SelectFacilityID])
REFERENCES [dbo].[tblSelectFacilities] ([SelectFacilityId])
GO
ALTER TABLE [dbo].[tblBloodwork] CHECK CONSTRAINT [FK_tblBloodwork_tblSelectFacilities1]
GO
ALTER TABLE [dbo].[tblBloodwork]  WITH CHECK ADD  CONSTRAINT [FK_tblBloodwork_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblBloodwork] CHECK CONSTRAINT [FK_tblBloodwork_tblUsers]
GO
ALTER TABLE [dbo].[tblDoctorVisits]  WITH CHECK ADD  CONSTRAINT [FK_tblDoctorVisits_tblSelectDoctors] FOREIGN KEY([SelectDoctorID])
REFERENCES [dbo].[tblSelectDoctors] ([SelectDoctorId])
GO
ALTER TABLE [dbo].[tblDoctorVisits] CHECK CONSTRAINT [FK_tblDoctorVisits_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblDoctorVisits]  WITH CHECK ADD  CONSTRAINT [FK_tblDoctorVisits_tblSelectMedicalConditions] FOREIGN KEY([SelectMedicalConditionID])
REFERENCES [dbo].[tblSelectMedicalConditions] ([SelectMedicalConditionId])
GO
ALTER TABLE [dbo].[tblDoctorVisits] CHECK CONSTRAINT [FK_tblDoctorVisits_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblDoctorVisits]  WITH CHECK ADD  CONSTRAINT [FK_tblDoctorVisits_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblDoctorVisits] CHECK CONSTRAINT [FK_tblDoctorVisits_tblUsers]
GO
ALTER TABLE [dbo].[tblFamilyHistories]  WITH CHECK ADD  CONSTRAINT [FK_tblFamilyHistories_tblFamilyMembers] FOREIGN KEY([SelectFamilyMemberID])
REFERENCES [dbo].[tblSelectFamilyMembers] ([SelectFamilyMemberId])
GO
ALTER TABLE [dbo].[tblFamilyHistories] CHECK CONSTRAINT [FK_tblFamilyHistories_tblFamilyMembers]
GO
ALTER TABLE [dbo].[tblFamilyHistories]  WITH CHECK ADD  CONSTRAINT [FK_tblFamilyHistories_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblFamilyHistories] CHECK CONSTRAINT [FK_tblFamilyHistories_tblUsers]
GO
ALTER TABLE [dbo].[tblFamilyMemberMedicalConditions]  WITH CHECK ADD  CONSTRAINT [FK_tblFamilyMemberMedicalConditions_tblFamilyMembers] FOREIGN KEY([SelectFamilyMemberID])
REFERENCES [dbo].[tblSelectFamilyMembers] ([SelectFamilyMemberId])
GO
ALTER TABLE [dbo].[tblFamilyMemberMedicalConditions] CHECK CONSTRAINT [FK_tblFamilyMemberMedicalConditions_tblFamilyMembers]
GO
ALTER TABLE [dbo].[tblFamilyMemberMedicalConditions]  WITH CHECK ADD  CONSTRAINT [FK_tblFamilyMemberMedicalConditions_tblSelectMedicalConditions] FOREIGN KEY([SelectMedicalConditionID])
REFERENCES [dbo].[tblSelectMedicalConditions] ([SelectMedicalConditionId])
GO
ALTER TABLE [dbo].[tblFamilyMemberMedicalConditions] CHECK CONSTRAINT [FK_tblFamilyMemberMedicalConditions_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblHospitalizations]  WITH CHECK ADD  CONSTRAINT [FK_tblHospitalizations_tblSelectDoctors] FOREIGN KEY([SelectDoctorID])
REFERENCES [dbo].[tblSelectDoctors] ([SelectDoctorId])
GO
ALTER TABLE [dbo].[tblHospitalizations] CHECK CONSTRAINT [FK_tblHospitalizations_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblHospitalizations]  WITH CHECK ADD  CONSTRAINT [FK_tblHospitalizations_tblSelectFacilities] FOREIGN KEY([SelectFacilityID])
REFERENCES [dbo].[tblSelectFacilities] ([SelectFacilityId])
GO
ALTER TABLE [dbo].[tblHospitalizations] CHECK CONSTRAINT [FK_tblHospitalizations_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblHospitalizations]  WITH CHECK ADD  CONSTRAINT [FK_tblHospitalizations_tblSelectMedicalConditions] FOREIGN KEY([SelectMedicalConditionID])
REFERENCES [dbo].[tblSelectMedicalConditions] ([SelectMedicalConditionId])
GO
ALTER TABLE [dbo].[tblHospitalizations] CHECK CONSTRAINT [FK_tblHospitalizations_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblHospitalizations]  WITH CHECK ADD  CONSTRAINT [FK_tblHospitalizations_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblHospitalizations] CHECK CONSTRAINT [FK_tblHospitalizations_tblUsers]
GO
ALTER TABLE [dbo].[tblImmunizationDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblImmunizationDetails_tblSelectFacilities] FOREIGN KEY([SelectFacilityID])
REFERENCES [dbo].[tblSelectFacilities] ([SelectFacilityId])
GO
ALTER TABLE [dbo].[tblImmunizationDetails] CHECK CONSTRAINT [FK_tblImmunizationDetails_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblImmunizationDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblImmunizationDetails_tblSelectManufacturers] FOREIGN KEY([SelectManufacturerID])
REFERENCES [dbo].[tblSelectManufacturers] ([SelectManufacturerId])
GO
ALTER TABLE [dbo].[tblImmunizationDetails] CHECK CONSTRAINT [FK_tblImmunizationDetails_tblSelectManufacturers]
GO
ALTER TABLE [dbo].[tblImmunizationDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblImmunizationDetails_tblSelectVaccineNames] FOREIGN KEY([SelectVaccineNameID])
REFERENCES [dbo].[tblSelectVaccineNames] ([SelectVaccineNameID])
GO
ALTER TABLE [dbo].[tblImmunizationDetails] CHECK CONSTRAINT [FK_tblImmunizationDetails_tblSelectVaccineNames]
GO
ALTER TABLE [dbo].[tblImmunizationDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblImmunizationDetails_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblImmunizationDetails] CHECK CONSTRAINT [FK_tblImmunizationDetails_tblUsers]
GO
ALTER TABLE [dbo].[tblMedicationLists]  WITH CHECK ADD  CONSTRAINT [FK_tblMedicationLists_tblSelectDoctors] FOREIGN KEY([SelectionDoctorID])
REFERENCES [dbo].[tblSelectDoctors] ([SelectDoctorId])
GO
ALTER TABLE [dbo].[tblMedicationLists] CHECK CONSTRAINT [FK_tblMedicationLists_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblMedicationLists]  WITH CHECK ADD  CONSTRAINT [FK_tblMedicationLists_tblSelectFacilities] FOREIGN KEY([SelectFacilityID])
REFERENCES [dbo].[tblSelectFacilities] ([SelectFacilityId])
GO
ALTER TABLE [dbo].[tblMedicationLists] CHECK CONSTRAINT [FK_tblMedicationLists_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblMedicationLists]  WITH CHECK ADD  CONSTRAINT [FK_tblMedicationLists_tblSelectMedicalConditions] FOREIGN KEY([SelectMedicalConditionID])
REFERENCES [dbo].[tblSelectMedicalConditions] ([SelectMedicalConditionId])
GO
ALTER TABLE [dbo].[tblMedicationLists] CHECK CONSTRAINT [FK_tblMedicationLists_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblMedicationLists]  WITH CHECK ADD  CONSTRAINT [FK_tblMedicationLists_tblSelectMedications] FOREIGN KEY([SelectMedicationID])
REFERENCES [dbo].[tblSelectMedications] ([SelectMedicationID])
GO
ALTER TABLE [dbo].[tblMedicationLists] CHECK CONSTRAINT [FK_tblMedicationLists_tblSelectMedications]
GO
ALTER TABLE [dbo].[tblMedicationLists]  WITH CHECK ADD  CONSTRAINT [FK_tblMedicationLists_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblMedicationLists] CHECK CONSTRAINT [FK_tblMedicationLists_tblUsers]
GO
ALTER TABLE [dbo].[tblSelectBloodworkIndiNames]  WITH CHECK ADD  CONSTRAINT [FK_tblSelectBloodworkIndiNames_tblSelectBloodworkGroupNames] FOREIGN KEY([SelectBloodworkGroupNameID])
REFERENCES [dbo].[tblSelectBloodworkGroupNames] ([SelectBloodworkGroupNameId])
GO
ALTER TABLE [dbo].[tblSelectBloodworkIndiNames] CHECK CONSTRAINT [FK_tblSelectBloodworkIndiNames_tblSelectBloodworkGroupNames]
GO
ALTER TABLE [dbo].[tblSelectMedications]  WITH CHECK ADD  CONSTRAINT [FK_tblSelectMedications_tblSelectManufacturers] FOREIGN KEY([SelectManufacturerID])
REFERENCES [dbo].[tblSelectManufacturers] ([SelectManufacturerId])
GO
ALTER TABLE [dbo].[tblSelectMedications] CHECK CONSTRAINT [FK_tblSelectMedications_tblSelectManufacturers]
GO
ALTER TABLE [dbo].[tblSelectVaccineNames]  WITH CHECK ADD  CONSTRAINT [FK_tblSelectVaccineNames_tblSelectVaccineGroupNames] FOREIGN KEY([SelectVaccineGroupID])
REFERENCES [dbo].[tblSelectVaccineGroupNames] ([SelectVaccineGroupId])
GO
ALTER TABLE [dbo].[tblSelectVaccineNames] CHECK CONSTRAINT [FK_tblSelectVaccineNames_tblSelectVaccineGroupNames]
GO
ALTER TABLE [dbo].[tblSurgeries]  WITH CHECK ADD  CONSTRAINT [FK_tblSurgeries_tblSelectDoctors] FOREIGN KEY([SelectDoctorID])
REFERENCES [dbo].[tblSelectDoctors] ([SelectDoctorId])
GO
ALTER TABLE [dbo].[tblSurgeries] CHECK CONSTRAINT [FK_tblSurgeries_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblSurgeries]  WITH CHECK ADD  CONSTRAINT [FK_tblSurgeries_tblSelectFacilities] FOREIGN KEY([SelectFacilityID])
REFERENCES [dbo].[tblSelectFacilities] ([SelectFacilityId])
GO
ALTER TABLE [dbo].[tblSurgeries] CHECK CONSTRAINT [FK_tblSurgeries_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblSurgeries]  WITH CHECK ADD  CONSTRAINT [FK_tblSurgeries_tblSelectMedicalConditions] FOREIGN KEY([SelectMedicalConditionID])
REFERENCES [dbo].[tblSelectMedicalConditions] ([SelectMedicalConditionId])
GO
ALTER TABLE [dbo].[tblSurgeries] CHECK CONSTRAINT [FK_tblSurgeries_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblSurgeries]  WITH CHECK ADD  CONSTRAINT [FK_tblSurgeries_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblSurgeries] CHECK CONSTRAINT [FK_tblSurgeries_tblUsers]
GO
ALTER TABLE [dbo].[tblTests]  WITH CHECK ADD  CONSTRAINT [FK_tblTests_tblSelectDoctors] FOREIGN KEY([SelectDoctorID])
REFERENCES [dbo].[tblSelectDoctors] ([SelectDoctorId])
GO
ALTER TABLE [dbo].[tblTests] CHECK CONSTRAINT [FK_tblTests_tblSelectDoctors]
GO
ALTER TABLE [dbo].[tblTests]  WITH CHECK ADD  CONSTRAINT [FK_tblTests_tblSelectFacilities] FOREIGN KEY([SelectFacilityID])
REFERENCES [dbo].[tblSelectFacilities] ([SelectFacilityId])
GO
ALTER TABLE [dbo].[tblTests] CHECK CONSTRAINT [FK_tblTests_tblSelectFacilities]
GO
ALTER TABLE [dbo].[tblTests]  WITH CHECK ADD  CONSTRAINT [FK_tblTests_tblSelectMedicalConditions] FOREIGN KEY([SelectMedicalConditionID])
REFERENCES [dbo].[tblSelectMedicalConditions] ([SelectMedicalConditionId])
GO
ALTER TABLE [dbo].[tblTests] CHECK CONSTRAINT [FK_tblTests_tblSelectMedicalConditions]
GO
ALTER TABLE [dbo].[tblTests]  WITH CHECK ADD  CONSTRAINT [FK_tblTests_tblSelectTestTypes] FOREIGN KEY([SelectTestTypeID])
REFERENCES [dbo].[tblSelectTestTypes] ([SelectTestTypeId])
GO
ALTER TABLE [dbo].[tblTests] CHECK CONSTRAINT [FK_tblTests_tblSelectTestTypes]
GO
ALTER TABLE [dbo].[tblTests]  WITH CHECK ADD  CONSTRAINT [FK_tblTests_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblTests] CHECK CONSTRAINT [FK_tblTests_tblUsers]
GO
USE [master]
GO
